body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

h1 {
    font-size: 3em;
}

i.wi {
    font-size: 5em;
    line-height: 3em;
}

h2 {
    font-size: 2em;
}

.tooltip {

    display: none;
}